sft-output-1b
sft-output-7b
grpo-output-1b
grpo-output-7b
sft-grpo-output-1b
sft-grpo-output-7b
checkpoints.rar
openPangu-Embedded-1B-V1.1
openPangu-Embedded-7B-V1.1
grpo-output
preds
log.txt
preds
local_models.rar
checkpoints.rar
local_models
upload_code.py
upload_modelscpoe.py